---
import Countdown from '../../components/Countdown.astro';
---

<section>
  <div class="row mt-3">
    <div class="col-12">
      <Countdown
        heading="Stolpersteinverlegung in Wörrstadt"
        subheading="Sei dabei"
        event={new Date('2024-03-15T09:00:00')}
      />
    </div>
  </div>
</section>
