---
import Flyer from '../../components/Flyer.astro';

import Flyer1Img1 from './rsc/flyer1/1.webp';
import Flyer1Img2 from './rsc/flyer1/2.webp';
import Flyer1Img3 from './rsc/flyer1/3.webp';
import Flyer1Img4 from './rsc/flyer1/4.webp';
import Flyer1Img5 from './rsc/flyer1/5.webp';
import Flyer1Img6 from './rsc/flyer1/6.webp';
import Flyer1Img7 from './rsc/flyer1/7.webp';
import Flyer1Img8 from './rsc/flyer1/8.webp';
import Flyer1Img9 from './rsc/flyer1/9.webp';
import Flyer1Img10 from './rsc/flyer1/10.webp';
import Flyer1Img11 from './rsc/flyer1/11.webp';
import Flyer1Img12 from './rsc/flyer1/12.webp';
import Flyer1Img13 from './rsc/flyer1/13.webp';
import Flyer1Img14 from './rsc/flyer1/14.webp';
import Flyer1Img15 from './rsc/flyer1/15.webp';
import Flyer1Img16 from './rsc/flyer1/16.webp';
import Section from '../../components/Section.astro';
---

<Section title='Flyer der Arbeitsgruppe "Juden in Wörrstadt"'>
  <div class="row mt-3">
    <div class="col-12">
      <Flyer
        pages={[
          {
            img: Flyer1Img1,
            alt: '',
          },
          {
            img: Flyer1Img2,
            alt: '',
          },
          {
            img: Flyer1Img3,
            alt: '',
          },
          {
            img: Flyer1Img4,
            alt: '',
          },
          {
            img: Flyer1Img5,
            alt: '',
          },
          {
            img: Flyer1Img6,
            alt: '',
          },
          {
            img: Flyer1Img7,
            alt: '',
          },
          {
            img: Flyer1Img8,
            alt: '',
          },
          {
            img: Flyer1Img9,
            alt: '',
          },
          {
            img: Flyer1Img10,
            alt: '',
          },
          {
            img: Flyer1Img11,
            alt: '',
          },
          {
            img: Flyer1Img12,
            alt: '',
          },
          {
            img: Flyer1Img13,
            alt: '',
          },
          {
            img: Flyer1Img14,
            alt: '',
          },
          {
            img: Flyer1Img15,
            alt: '',
          },
          {
            img: Flyer1Img16,
            alt: '',
          },
        ]}
      />
    </div>
  </div>
</Section>
