---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mt-5">
  <h2 class="mb-4">{title}</h2>
  <slot />
  <hr />
</section>

<style>
  section {
    width: 100%;
  }
  hr {
    height: 4px;
    margin-top: 20px;

    border: none;
    background-color: #41aba6;
  }
</style>
