.infoSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
